@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 155 24% 14%;
    --card: 0 0% 100%;
    --card-foreground: 155 24% 14%;
    --popover: 0 0% 100%;
    --popover-foreground: 155 24% 14%;
    --primary: 194 58% 75%;
    --primary-foreground: 155 24% 14%;
    --secondary: 35 75% 57%;
    --secondary-foreground: 155 24% 14%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 0 0% 96.9%;
    --accent-foreground: 155 24% 14%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 194 58% 75%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 155 24% 14%;
    --foreground: 210 40% 98%;
    --card: 155 24% 14%;
    --card-foreground: 210 40% 98%;
    --popover: 155 24% 14%;
    --popover-foreground: 210 40% 98%;
    --primary: 194 58% 75%;
    --primary-foreground: 155 24% 14%;
    --secondary: 35 75% 57%;
    --secondary-foreground: 155 24% 14%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 194 58% 75%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
